*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width:768px){
    .container{ width: 750px;}
}
@media(min-width:992px){
    .container{ width: 970px;}
}
@media(min-width:1200px){
    .container{ width: 1170px;}
}
/*header*/
.header{
    padding: 10px 10px 0px 10px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.header .container .menu .icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
}
.header .container .menu .icon span{
    width: 100%;
    height: 2px;
    margin-bottom: 5px;
    background-color: rgb(12, 8, 80);
}
.header .container .menu .icon span:nth-child(2){
    width: 60%;
}
.header .container .menu:hover .icon span:nth-child(2){
    width: 100%;
}
.header .container .menu{
    position: relative;
}
.header .container .menu ul{
    list-style: none;
    background-color: rgb(180, 71, 71, 0.5);
    margin-top: 20px;
    padding: 0;
    position: absolute;
    right: 1px;
    min-width: 150px;
    display: none;
    transition: 0.3s;
    z-index: 1;
}
.header .container .menu ul li a{
    text-decoration: none;
    transition: 0.3s;
}
.header .container .menu ul li{
    padding: 5px;
    margin:2px;
    background-color: gainsboro;
    text-align: right;
}
.header .container .menu ul li a:hover{
    margin-right: 6px;
    color: rgb(160, 110, 110);
}
.header .container .menu:hover ul{
    display: block;
}
.name{
    color: #1a3a5b;
    font-weight: bold;
}
/*landing*/
.landing{
background-image: url(background1.png);
background-size: cover;
height: calc(100vh - 41px);
position: relative;

}
.landing .intro{
position: absolute;
left: 50%;
top: 50%;
width: 320px;
text-align: center;
transform: translate(-50% , -50%);
}
.landing .intro h1{
margin: 0;
color: #1a3a5b;
font-size: 55px;
}
.landing .intro p{
color: #00000085;
line-height: 1.7;
font-size: 20px;
}

.features{
    padding: 20px 0;
    margin-top: 25px;
    background-color: white;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 100px;
    padding: 0;
}

.features .feat{
    text-align: center;
    margin-right: 35px;
    margin-left: 20px;
    background-color: #e2eaec;
    padding: 0;
    position: relative;
    border-radius: 20%;
}
.feat .me::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1a3a6f;
}
.feat .me::after{
    content: "";
    height: calc(100% + 28px);
    width: 36px;
    position: absolute;
    bottom: -15px;
    left: -20px;
    background-color: #1a3a6f;
}
.feat .emergency::before{
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #1a3a6f;
}
.feat .emergency::after{
    content: "";
    height: calc(100% + 28px);
    width: 36px;
    position: absolute;
    top: -15px;
    right: -20px;
    background-color: #1a3a6f;
}

.features .feat .EM{
    border-radius: 100%;
    width: 200px;
    box-shadow: #1a3a5b8a -3px 3px 6px 1px;
}
.features .feat .mypic{
    box-shadow: #1a3a5b8a -3px 3px 6px 1px;
    border-radius: 100%;
}
.features .feat h3{
    font-weight: 800;
    color: #1a3a5b;
}
.features .feat p{
    color: #777;
    line-height: 1.7;
    width: 290px;
    margin: 0 auto 15px auto;
    border-width: 5px;
    border-style: solid;
    border-image-source: linear-gradient(to right bottom,#1a3a5b 10%,#a88585 10%,#a88585 20%,#a88585 30%,
                                        #afbdcf 30%,#afbdcf 40%,#000000a3 40%,#000000a3 50%,#a88585 50%,
                                        #a88585 60%,#afbdcf 60%,#afbdcf 70%,#3d6599 70%,#3d6599 80%,#1a3a5b 80%,
                                        #1a3a5b 90%,#a88585 90%);
    border-image-slice: 1;
    background-color: #f9f9f9;
}

/*main-frame*/
.special-heading{
    font-weight: 800;
    font-size: 50px;
    color: #59749f69;
    text-align: center;
    margin: 0;
    padding: 0;
    letter-spacing: -3px;
    font-variant: small-caps;
}

.special-heading + p{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 0;
    padding-bottom: 10px;
    font-size: 15px;
    color: #777;
}

.mainframe {
    padding-top: 20px;
text-align: center;
margin-bottom: 20px;
}

.mainframe .img{
width: 150px;
border-radius: 30%;
margin:10px 0 0 0;
padding: 0;
box-shadow: #1a3a5b8a -3px 3px 6px 1px;
}

.mainframe .container p{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.7;
    margin: 0;
    padding-top: 15px;
    text-align: center;
    color: #743b3b9c;
    overflow:auto;
    height: 200px;
    background-color: #f9f9f9;
    border-width: 5px;
    border-style: solid;
    border-image-source: linear-gradient(to left top,#1a3a5b 10%,#a88585 10%,#a88585 20%,#a88585 30%,
                                        #afbdcf 30%,#afbdcf 40%,#000000a3 40%,#000000a3 50%,#a88585 50%,
                                        #a88585 60%,#afbdcf 60%,#afbdcf 70%,#3d6599 70%,#3d6599 80%,#1a3a5b 80%,
                                        #1a3a5b 90%,#a88585 90%);
    border-image-slice: 1;
}


#about{
    background-color: #ebf0f2;
    margin-top: 35px;
    padding: 0;
}
.exp{
    background-color: #ebf0f2;
    margin-top: 35px;
    padding: 0;
}

.contact .container p{
    margin-bottom: 0px;
    padding: 0;
    height: 75px;
    font-size: 18px;
}
.contact{
    background-color: #ebf0f2;
}

.contact .mainframe img{
    box-shadow: #1a3a5b8a -3px 3px 6px 1px inset,
                #1a3a5b8a -3px 3px 6px 1px;
                background-color: #f9f9f9;
}
hr{
    width:50%;
}

.mail,.phone{
    text-decoration-line: none;
    color: #65727e;
    margin-left: 1%;
    padding-bottom: 30px;
}
a:hover{
    color: rgb(160, 110, 110);
}
.phone{
    padding: 5px;
}
.homekey{
    margin: 0;
    padding: 0;
}
.homekey p{
    position: fixed;
    right: 0;
    bottom: 0;
}
.homekey img{
    margin: 0;
    padding: 0;
    width: 30px;
    opacity: 0.7;

}
